.outliner .row {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.outliner .key {
  background-color: #ddd;
  padding-left: 0.5em;
  padding-right: 0.5em;
  -webkit-border-radius: 0.5em;
  margin-right: 0.5em;
}

.outliner .collectionKey {
  background-color: black;
  color: white;
}

.outliner .collectionKey.empty {
  background-color: #ddd;
  color: black;
}

.outliner .collectionValue.empty {
  color: #bbb;
}

.outliner .collectionItems {
  margin-left: 1em;
}

.outliner .leafValue.null, .outliner .leafValue.empty {
  color: #bbb;
}

.outliner .leafValue.number {
  color: #d0d;
}

.outliner .leafValue.string {
  color: #080;
}

.outliner .leafValue.boolean {
  color: #880;
}

.outliner .row {
  clear: left;
}

.outliner .leafKeyDiv {
  float: left;
}

.outliner .leafValue {
  float: left;
}