.wrap {
  width: 720px;
  margin-left: auto;
  margin-right: auto;
}

textarea {
  width: 90%;
  height: 24em;
}

span.key {
  font-weight: bold;
}

.key, .value, .margin {
  margin-right: 0.3em;
}

.empty {
  color: #bbb;
}

.collection {
}

.key {
  padding-bottom: 0.5em;
}

.margin, .items, .key, .value {
  float: left;
}

.item {
  float: left;
}

.item.notFirst {
  position: relative;
  clear: left;
}

.key, .value {
  padding-left: 0.2em;
}

.collectionButton {
  background-color: black;
  color: white;
}

.key span {
  background-color: #bde;
}

.leaf span {
  background-color: #ddd;
}

.collectionButton, .key span, .leaf span {
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 0.3em;
  padding-right: 0.3em;
  -webkit-border-radius: 0.3em;
}

